In [4]:
import pandas as pd

In [5]:
bookings = pd.read_csv('/content/2_bookings.csv', encoding='windows-1251', sep=';')

In [6]:
#Затем запишите первые 7 строк в переменную bookings_head.

bookings_head = bookings.head(7)

In [7]:
#Посмотрите на размеры таблицы. Сколько всего в ней столбцов
bookings.shape

(119390, 21)

In [9]:
#К какому типу относится большинство переменных? 
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [10]:
#Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, 
#и названия колонок были записаны в неудобном для дальнейшей работы формате. \
#Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
#Например: Is Canceled -> is_canceled

bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [11]:
bookings.columns.str.lower()

Index(['hotel', 'is canceled', 'lead time', 'arrival full date',
       'arrival date year', 'arrival date month', 'arrival date week number',
       'arrival date day of month', 'stays in weekend nights',
       'stays in week nights', 'stays total nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved room type', 'assigned room type',
       'customer type', 'reservation status', 'reservation status_date'],
      dtype='object')

In [12]:
def to_lower_under(name):
  new_name= name.replace(' ', '_').lower()
  return new_name

In [13]:
bookings = bookings.rename(columns=to_lower_under)

In [14]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [15]:
bookings.head(10)

          hotel  is_canceled  ...  reservation_status reservation_status_date
0  Resort Hotel            0  ...           Check-Out              2015-07-01
1  Resort Hotel            0  ...           Check-Out              2015-07-01
2  Resort Hotel            0  ...           Check-Out              2015-07-02
3  Resort Hotel            0  ...           Check-Out              2015-07-02
4  Resort Hotel            0  ...           Check-Out              2015-07-03
5  Resort Hotel            0  ...           Check-Out              2015-07-03
6  Resort Hotel            0  ...           Check-Out              2015-07-03
7  Resort Hotel            0  ...           Check-Out              2015-07-03
8  Resort Hotel            1  ...            Canceled              2015-05-06
9  Resort Hotel            1  ...            Canceled              2015-04-22

[10 rows x 21 columns]

In [16]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований? 
#Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). 
#В качестве ответа выберите страны, входящие в топ-5.

max_country = bookings.query("is_canceled == 0").country.value_counts()

In [17]:
max_country.head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [18]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? 
# Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

mean_night = bookings\
  .groupby(['hotel'], as_index = False) \
  .aggregate({'stays_total_nights':'mean'})

In [19]:
mean_night.round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [20]:
# Иногда тип номера, полученного клиентом (assigned_room_type), 
#отличается от изначально забронированного (reserved_room_type). 
#Такое может произойти, например, по причине овербукинга.
#Сколько подобных наблюдений встретилось в датасете?

rooms = bookings[["assigned_room_type", "reserved_room_type"]]

In [21]:
rooms_1 = rooms.query("assigned_room_type != reserved_room_type")

In [22]:
rooms_1.shape

(14917, 2)

In [23]:
#Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
#На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

bookings[["arrival_date_year", "arrival_date_month"]]

        arrival_date_year arrival_date_month
0                    2015               July
1                    2015               July
2                    2015               July
3                    2015               July
4                    2015               July
...                   ...                ...
119385               2017             August
119386               2017             August
119387               2017             August
119388               2017             August
119389               2017             August

[119390 rows x 2 columns]

In [24]:
year_2016 = bookings.query("arrival_date_year == 2016").arrival_date_month.value_counts()

In [25]:
year_2016.idxmax()

'October'

In [26]:
year_2017 = bookings.query("arrival_date_year == 2017").arrival_date_month.value_counts()

In [27]:
year_2017.idxmax()

'May'

In [28]:
#Сгруппируйте данные по годам, а затем проверьте, 
#на какой месяц (arrival_date_month) бронирования отеля типа City Hotel 
#отменялись чаще всего в 2015? 2016? 2017? 

month_ar = bookings.query("hotel == 'City Hotel' and is_canceled == 1")

In [29]:
month_ar

             hotel  is_canceled  ...  reservation_status reservation_status_date
40061   City Hotel            1  ...            Canceled              2015-07-01
40062   City Hotel            1  ...            Canceled              2015-04-30
40063   City Hotel            1  ...            Canceled              2015-06-23
40064   City Hotel            1  ...            Canceled              2015-04-02
40065   City Hotel            1  ...            Canceled              2015-06-25
...            ...          ...  ...                 ...                     ...
110280  City Hotel            1  ...            Canceled              2017-04-25
111355  City Hotel            1  ...            Canceled              2017-06-05
111924  City Hotel            1  ...            Canceled              2017-05-31
111925  City Hotel            1  ...             No-Show              2017-07-17
117295  City Hotel            1  ...             No-Show              2017-08-02

[33102 rows x 21 columns]

In [30]:
month_1 = month_ar.groupby("arrival_date_year")['arrival_date_month'].value_counts()

In [31]:
month_1

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [32]:
#Посмотрите на числовые характеристики трёх колонок: adults, children и babies. 
#Какая из них имеет наибольшее среднее значение?

bookings.describe()

         is_canceled      lead_time  ...       children         babies
count  119390.000000  119390.000000  ...  119386.000000  119390.000000
mean        0.370416     104.011416  ...       0.103890       0.007949
std         0.482918     106.863097  ...       0.398561       0.097436
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000      18.000000  ...       0.000000       0.000000
50%         0.000000      69.000000  ...       0.000000       0.000000
75%         1.000000     160.000000  ...       0.000000       0.000000
max         1.000000     737.000000  ...      10.000000      10.000000

[8 rows x 11 columns]

In [33]:
people = bookings[["adults", "children", "babies"]]

In [34]:
people.describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [35]:
people.mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [36]:
#Создайте колонку total_kids, объединив столбцы children и babies. 
#Для отелей какого типа среднее значение переменной оказалось наибольшим?

bookings['total_kids'] = bookings.children + bookings.babies

In [37]:
bookings.head()

          hotel  is_canceled  ...  reservation_status_date total_kids
0  Resort Hotel            0  ...               2015-07-01        0.0
1  Resort Hotel            0  ...               2015-07-01        0.0
2  Resort Hotel            0  ...               2015-07-02        0.0
3  Resort Hotel            0  ...               2015-07-02        0.0
4  Resort Hotel            0  ...               2015-07-03        0.0

[5 rows x 22 columns]

In [38]:
round(bookings.groupby("hotel")['total_kids'].mean(), 2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [39]:
#Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. 
#Иными словами, посчитать метрику под названием Churn Rate.

#Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), 
#которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. 
#Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

#В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. 
#Давайте посмотрим, как эта метрика зависит от наличия детей у клиентов!

#Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), 
#в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

#В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки 
#(то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [40]:
bookings.total_kids

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: total_kids, Length: 119390, dtype: float64

In [41]:
bookings['has_kids'] = bookings.total_kids > 0

In [42]:
w_o_kids = bookings.query("has_kids == False and is_canceled == 1").shape[0]

In [43]:
with_kids = bookings.query("has_kids == True and is_canceled == 1").shape[0]

In [44]:
w_o_kids

40965

In [45]:
with_kids

3259

In [46]:
Churn_no_kids = round(w_o_kids/(bookings.query("has_kids == False").shape[0]), 4)

In [47]:
Churn_kids = round(with_kids/(bookings.query("has_kids == True").shape[0]), 4)

In [48]:
Churn_no_kids * 100

37.22

In [49]:
Churn_kids *100

34.92